/* 웰컴체 */
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    }

    * {
        outline: 0;
    }

    ul, ol, li {
        list-style: none;
    }
    a{text-decoration: none;}

    .wrap {
        width: 100%;
        background: #fff;
        opacity: 0;
        visibility: hidden;
    }




    /* @media (min-with: 1024px){ */
    header{
        z-index: 200;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        transition: 0.4s;
    }
    /* } */

    
    header, .roll{
        background-color: rgb(164, 78, 184);
    }

    header {
        position: fixed;
        z-index: 210;
    }



    .btn_search{
        z-index: 210;
        color: #8152ad00;
        cursor: pointer;
        border: none;
        position: relative;
        bottom: 10px;
        margin-right: 20px;
        background: url("/NORUN/img/검색.png")50% 50% no-repeat;
        /* background: url("/img/검색.png")50% 50% no-repeat; */
        /* 마이닷홈용 */
        background-size: 20px auto;
        transition: 1s;
    }
/*     
    .btn_search:focus{

        transform: translateX(-1600%);
        
    } */

    .search{
     display: none;
     font-family: 'OTWelcomeRA';
     font-size: 20px;
     position: absolute;
     width: 830px;
     height: 40px;
     bottom: 5px;
     right: 5%;
     background: none;
     border: none;
     color: white;
 }
 .searchBar_box>input::placeholder{
     color: rgba(255, 255, 255, 0.71);
    }
    .searchBar_box>input:focus{
        border-bottom: 1px solid rgb(255, 255, 255);

        
    }
    .searchBar_box>input:focus::placeholder{
     color: rgba(255, 255, 255, 0.347);
    
 }

 









    .over_list01{
        font-family: 'OTWelcomeRA';
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 29px;
        right: 19%;
    }
    .over_list01>li>a{
        color: white;
        margin: 0 15px;
    }

    .header_logo{
        cursor: pointer;
        position: absolute;
        top: 8px;
        left: 19%;
        width: 160px;
    }

    .more_list{
        cursor: pointer;
        display: none;
        position: absolute;
        width: 100px;
        top: 25px;
        right: 48.9%;
        border: 1.7px solid rgb(216, 208, 218);
        border-radius: 4px;
        background-color: white;
    }

    #over:hover .more_list{
        display: block;
    }
  

    #more_inside{
        padding: 8px 0 0 0;
        font-size: 13px;
        text-align: center;
        line-height: 30px;
    }


    #more_inside>a{
        z-index: 200;
        color: rgb(163, 30, 194);
    }
    #more_inside:hover{
        background-color: rgb(252, 242, 255);
    }



    /*------------------------------- 기본, 헤더 --------------------------------------*/




    .srh_mask{
       z-index: 190;
        display: none;
        position: fixed;
        top: 70px;
        /* border: 1px solid #000; */
        background-color: rgba(0, 0, 0, 0.352);
        width: 100%;
        height: 100%;
    }

        .X{
            display: none;
            cursor: pointer;
            position: absolute;
            bottom: 10px;
            right: 5%; 
            width: 30px;
        }

        .body{
            width: 100%;
            height: 300px;
        }

        .top{
        font-family: 'OTWelcomeRA';
        background-color: white;
            padding: 15px;
            display: block;
            text-align: center;
            position: absolute;
            width: 70px;
            height: 70px;
            border: 2px solid rgb(191, 191, 191);
            border-radius: 35px;
            color: rgb(191, 191, 191);
            top: 950%;
            right: 4%;
            font-weight: bold;
            line-height: 15px;
            box-shadow: 0px 3px 5px rgb(231, 231, 231);;
        }
        .top_btn{
            /* border: 1px solid #000; */
            /* border-radius: 50px; */
            width: 20px;
        }

        .recommend_box{
            display: none;
            z-index: 200;
            padding: 20px;
            position: absolute;
            top: 41px;
            right: 5%;
            border: 2px solid rgb(159, 159, 159);
            border-top: none;
            background-color: white;
            width: 835px;
            border-end-end-radius: 5px;
            border-end-start-radius: 5px;
        }

        #recommend{
            cursor: pointer;
            line-height: 35px;
            height: 30px;
        }
        #recommend>a{
            color: rgb(242, 95, 215);
        }
        #recommend:hover {
            background-color: rgb(246, 246, 246);
        }


        .scroll {
            background-color: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.097);
           
        }
        .scroll .list>a{
            color: rgb(164, 78, 184);
        }
        .scroll .btn_search{
            background: url("/NORUN/img/검색_모바일.png")50% 50% no-repeat;
            /* background: url("/img/검색.png")50% 50% no-repeat; */
            /* 마이닷홈용 */
            background-size: 20px auto;
            transition: 1s;
        }
        .scroll .searchBar_box>input:focus{
            border-bottom: 1px solid rgb(164, 78, 184);
        }
        .scroll .searchBar_box>input::placeholder{
            color:rgb(245, 191, 255);
        }

        


