<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>day13</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	<!-- B라는 이름의 서블릿은 com.koreait.servlet.B 라는 클래스 -->
  	<servlet-name>B</servlet-name>
  	<servlet-class>com.koreait.servlet.B</servlet-class>
  </servlet>
  <servlet-mapping>
  	<!-- localhost:9090/day13/b 요청시 B라는 이름의 서블릿을 찾음 -->
  	<servlet-name>B</servlet-name>
  	<url-pattern>/b</url-pattern>
  </servlet-mapping>
</web-app>
